################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/API/obj
/FrontBlazor/obj
/API/obj/Debug
/FrontBlazor/obj/Debug
